body {
    background: linear-gradient(135deg, #2e3192, #1bffff, #ff00e5);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.counter-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

h1 {
    font-weight: bold;
    color: #333;
}

#countDisplay {
    font-size: 48px;
    color: #333;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#countDisplay.hide {
    opacity: 0;
}

.btn-primary,
.btn-danger {
    font-weight: bold;
    font-size: 18px;
}